.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__form_delete {
  width: 630px;
  height: 172px;
}

.modal__content {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal__content_type_preview {
  padding: 0;
  background-color: transparent;
  width: unset;
  max-width: 80vw;
  max-height: 80vh;
}

.modal__image {
  width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.modal__close {
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background: url("../images/close-grey.svg") center no-repeat;
  background-size: 35px 35px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  opacity: 40%;
}

.modal__close-delete {
  background-image: url("../images/close-light.svg");
  right: -50px;
  top: 0px;
}

.modal__close_type_preview {
  background-image: url("../images/close-light.svg");
  top: 0;
  left: calc(100% + 1vw);
}

.modal__close:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__caption {
  position: absolute;
  top: calc(100% + 8px);
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  background: rgba(33, 33, 33, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: auto 0;
  color: rgba(255, 255, 255, 1);
  text-decoration-skip-ink: none;
  display: flex;
}

.modal__title {
  font-family: Poppins, Arial, sans-serif;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__title-delete {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.modal__title-avatar {
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 1);
}

.modal__label {
  font-family: Poppins, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: rgba(33, 33, 33, 0.7);
  margin-bottom: 32px;
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  margin: 8px 0 0;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  color: red;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  margin-top: 8px;
}

.modal__error_visble {
  visibility: active;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  font-family: Poppins, Arial, sans-serif;
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.modal__submit-btn_delete {
  background-color: rgba(255, 101, 101, 1);
  border-radius: 8px;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 8px;
}

.modal__submit-btn.modal__submit-btn_delete:hover {
  background-color: rgba(255, 51, 51, 1);
}

.modal__submit-btn_cancel {
  background-color: #fff;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 8px;
  border-width: 1px;
}

.modal__submit-btn.modal__submit-btn_cancel:hover {
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background: rgba(33, 33, 33, 0.8);
}

.modal__submit-btn_disabled {
  opacity: 50%;
}

.modal__buttons-delete {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__form {
    width: 276px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .modal__form-delete {
    width: 300px;
    height: 208px;
  }

  .modal__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 12px 0 24px;
    width: 276px;
    height: 40px;
  }

  .modal__title-avatar {
    margin: 12px 0 12px;
  }

  .modal__title-delete {
    margin: 12px 0 20px;
  }

  .modal__input {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

  .modal__close {
    top: 12px;
    right: 10px;
    padding: 0;
  }

  .modal__close_type_preview {
    top: -40px;
    left: 235px;
  }

  .modal__label {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
  }

  .modal__label-avatar {
    margin-bottom: 20px;
  }

  .modal__submit-btn {
    width: 100%;
    margin-bottom: 12px;
  }

  .modal__buttons-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal__submit-btn_delete {
    width: 156px;
    height: 52px;
    gap: 8px;
    border-radius: 8px;
    margin: 0;
  }

  .modal__submit-btn_cancel {
    width: 156px;
    height: 52px;
    gap: 8px;
    border-radius: 8px;
    border-width: 1px;
    margin: 0;
  }

  .modal__content {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    gap: 24px;
    padding: 12px;
  }

  .modal__content-delete {
    gap: 0;
  }

  .modal__content-avatar {
    gap: 0;
  }

  .modal__caption {
    position: absolute;
    left: -16px;
    top: calc(100% + 8px);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-decoration-skip-ink: none;
    display: flex;
  }

  .modal__image {
    border-radius: 4px;
    width: 288px;
    max-height: 426.57px;
  }
}
